# Build output
dist/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
*.log*

# Environment variables
.env
.env*
!.env.sample

# macOS specific files
.DS_Store

# Git hooks
.git/hooks/*.sample
!.git/hooks/pre-commit
