---
import type { Education } from '@/types/resume'
import { formatDate } from '@/utils/date'

interface Props {
  data: Education
}

const { data } = Astro.props
const { active, institution, date } = data
const isActive: boolean = active === true
---

<div class="flex items-center text-sm">
  <div class="flex grow gap-1 font-semibold">
    <span>{institution.title}</span>

    <icon class="fa-solid fa-graduation-cap ml-1 self-center"></icon>
  </div>

  <div class="shrink-0 text-xs font-normal">
    {formatDate(date.start)} - {isActive ? 'Present' : formatDate(date.end)}
  </div>
</div>

<div class="mt-1 text-sm">
  <div>{institution.domain}</div>
</div>

<ul class="mt-3 list-inside list-disc text-sm leading-tight">
  {institution.description.map((item) => <li class="mt-2">{item}.</li>)}
</ul>
