---
import type { Snippet } from '@/types/resume'
import Link from '@/components/Link.astro'

interface Props {
  data: Snippet
}

const { data } = Astro.props
const { title, url, description } = data
const hasUrl: boolean = url.length > 0
---

<div class="font-semibold">
  {
    hasUrl ? (
      <Link url={url} newTab={true}>
        {title}
      </Link>
    ) : (
      title
    )
  }
</div>

<div class="mt-2 leading-tight">
  {description}
</div>
